/*--------CTA CSS-----------*/

.cta-content {
    text-align: center;
    color: #fff;
    h2 {
        font-size: 40px;
        text-transform: capitalize;
      }
      p {
        margin: 20px 0;
      }
  }